---
import Popular from "./icons/popular.astro"
import ListaNavbar from "./listaNavbar.svelte"
---

<nav class="fixed w-[15vw] flex flex-col gap-y-5 bg-[#0B1416] border-r border-[#464849] h-full">
  <!-- boton popular -->
  <button class=" flex flex-row justify-center items-center text-white bg-[#1A282D] mx-5 py-2 px-3 mt-5 gap-x-2 rounded-md">
    <Popular></Popular>
    <span>Popular</span>
  </button>

  <!-- linea -->
  <span class="border-t border-[#464849] mx-5"></span>

  <!-- lista de temas -->
  <ListaNavbar client:load></ListaNavbar>

  <div class="absolute text-xs text-gray-400 left-5 bottom-5 flex justify-center items-center max-w-[15vw]">Reddit, Inc, © 2024. Todos los derechos reservados.</div>
</nav>