---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import Comunidades from '../components/comunidades.astro';
---

<Layout title="Reddit - Explora lo que quieras">
	<div id="app" class="text-white">
		<aside class="[grid-area:aside]">
			<Navbar></Navbar>
		</aside>
		<div class="ml-40 [grid-area:images]"></div>
		<div class="ml-40 [grid-area:posts]">
			
		</div>
		<div class="[grid-area:comunidades]">
			<Comunidades></Comunidades>
		</div>
		<div class="[grid-area:white]"></div>
	</div>
</Layout>

<style>
	#app {
		gap: 10px;
		display: grid;
		grid-template-areas:
			"aside images images images      white"
			"aside posts  posts  comunidades white"
			"aside posts  posts  comunidades white";
		grid-template-rows: auto;
		grid-template-columns: repeat(5, 1fr); 
	}
</style>
